
.t_page {
  padding-top: 60px;
  height: 100vh;
  background-image: url(image1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  #toppage {
    width: 50%;
    margin: 30px auto;

    h1 {
      color: #0899b1;
    }

  }
}


div .btn {
  padding: 10px 30px;
  margin: 20px auto;
}

footer {
  bottom: 0;
  height: 3em;
  position: absolute;
  text-align: center;
  width: 100%;
  color: white;
  padding: 10px;
}

#log_after, #s_users {
  padding-top: 60px;
  margin: 15px 30px;

  #name_card {
    margin-top: 80px;
    border-radius: 50%;
    text-align: center;

    .card {

      background: #EEE;
      padding: 15px auto;
      border-radius: 70px;

      .card-header {
        background-color: #0899b1;
        border-radius: 70px 70px 0 0;
      }

      .card-body {

        .p_comment {
          margin: 20px auto 0;
          width: 70%;
          padding: 0.5em 1em;
          // margin: 2em 0;
          color: #FFF;
          background: #6eb7ff;
          border-bottom: solid 6px #3f87ce;
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
          border-radius: 9px;


          p {
            
            font-size: 15px;
            margin: 0;
            padding: 0;
          }

        }

        #user_image {
          img {
            margin-top: 20px;
            max-width: 200px;
          }
        }

      }
      
      h4 {
        text-align: center;
      }
    }


  }

  a {
    background-color: greenyellow;
    border-radius: 30px;
  }
}




